<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>650819260381-rjoi0bv6dlc0u2l3j49lk9vmre3l694h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.650819260381-rjoi0bv6dlc0u2l3j49lk9vmre3l694h</string>
	<key>API_KEY</key>
	<string>AIzaSyB-51I1K-A4ozTW6d9Snp76ZKHBSZ1w2UM</string>
	<key>GCM_SENDER_ID</key>
	<string>650819260381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moviesApp</string>
	<key>PROJECT_ID</key>
	<string>moviesapp-eae42</string>
	<key>STORAGE_BUCKET</key>
	<string>moviesapp-eae42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:650819260381:ios:ba164585dbcb7a19217034</string>
</dict>
</plist>